PatentDocument/src/main/resources/dtd/us-patent-application-v42-2006-08-23.dtd

<?xml version='1.0' encoding='utf-8' ?>
<!--
Document Type Definition for United States Patent Application Publications
USPTO-modified version of WIPO Standard ST.36 DTD xx-patent-document
Reference this DTD as PUBLIC "-//USPTO//DTD us-patent-application v4.2 2006-08-23//EN"
Alias: Application Red Book (ARB)
Contact: Bruce B. Cox
U.S. Patent and Trademark Office
600 Dulany, MDW-5D01
Alexandria, VA  22313
+1-571-272-9004
bruce.cox@uspto.gov

***** Revision History *****
2006-08-23 B. Cox
 . Changed o element attribute name style to ostyle.
2006-07-26
 . Added sub and sup elements to b, i, u.
 . Added overscore element o (#PCDATA | b | i | smallcaps | sup | sub )* 
 ..to b, i, u, claim-text, crossref, dd, dt, figref, heading, invention-title,
 ..li, othercit, p, smallcaps, sub, sub2, sup, sup2 and us-claim-statement.

 
2005-08-25
. Added an optional us-claim-statement element to make a place for the claim lead-in text.
. US-localized sequence-list-doc element. Added optional p element to the content models.
. Added a new us-megatable-doc element.
. Added ENTITY % tbl.entry.att "id ID #IMPLIED" to cals table model.
. Removed wipo.ent reference.
. Removed classification-ipc element from bibliographic-data.
. Changed comment on us-divisional-reissue,INID code from B631 to B41US.
. Changed comment on us-371c124-date to read"PCT Section 371(c)(1)(2)(4)date. ST.32 equivalency = B864US".
. Changed us-publication-filing-type element optional.

2004-12-02

. Added optional us-provisional-application-status(#PCDATA) to us-provisional-application element.

2004-10-28
. Added us-deceased-inventor* to us-bibliographic-data-application. The content model
.. of us-deceased-inventor is addressbook with required sequence attribute.  
. Changed pre attribute xml:space to (preserve) #FIXED 'preserve'.
. Added 'undefined' value to img attribute img-content. Renamed value flow-chart to flowchart and chemistry to chem.
. Changed chem-type attribute of chem element from required to implied.
. Changed the order of crossref element in p element to before figref.
. Added id ID #IMPLIED attribute to sequence-list element and removed country attribute.
. Changed the order of attributes in a few elements in compliance with WIPO DTDs.
. Changed the order of sub2 and sup2 elements in sub, sup element in compliance with WIPO DTDs. 
. Changed the place holder elements math and table content model to EMPTY.
. Changed num attributes from required to implied in nplcit and patcit.
. Added classifications-ipcr to citation element.
. Changed dl element attribute tsize from NMTOKEN to CDATA type.
. Changed subname subname-type CDATA to subname-type (editor | translator | other-subname-type )  'editor'
. Changed type-of-correction element to optional in correction element.

2004-09-27
. Change in mathml2 dtd reference to work around with Microsoft MSXML3 parser
.. 'Default Namespace Declaration not supported in DTD' issue in Internet Explorer.
.. MATHML.xmlns.attrib is set to nothing instead of setting MATHML.xmlns to nothing.

2004-09-08
. Change element subname attribute subname-type  from CDATA #IMPLIED to 
.. subname-type  (editor | translator)  'editor'.
. Changed element us-rights attribute applicant-ref CDATA  #REQUIRED back to
.. to-dead-inventor CDATA  #REQUIRED. 
2004-07-19
. Changed us-rights content model from empty to #PCDATA. 
. Changed rel-passage content model from(text | (passage+ , category? , rel-claims?)+)
.. to rel-passage (text | (passage+ , category* , rel-claims*)+). 
. Added gazette-reference element and gazette-num elements. 
. Replaced bulletin-gazette element with gazette-reference element used in 
.. correction and pct-or-regional-publishing-data element.
.. Added gazette-reference to correction element.
. Removed cited-patents and cited-others with citation content model.
.. Replaced us-references-cited with references-cited new content model.
. Changed chemistry content model to (img | (chem,img?)). 
.. Added a place holder element chem for future chemistry xml root element. 
.. chem element has id, file and chem-type attributes.
. Added sequence-list-doc element and modified sequence-list element.
.. Replaced sequence-list with sequence-list-doc in us-patent-application.
.. Changed sequence-list country attribute type to #CDATA.
. Changed addressbook lang to optional.
. Added claim-type to claim and claims elements.
. Added new element classifications-ipcr to us-bibliographic-data-application.
..classifications-ipcr include one or more classification-ipcr. classifications-ipcr 
..include the following elements:
..      ipc-version-indicator
..      classification-level
..      section 
..      class(reuse)
..      subclass 
..      main-group
..      subgroup
..      symbol-position
..      classification-value
..      action-date
..      generating-office
..      classification-status
..      classification-data-source
. Added pre to claim-text,dd,li.
. Changed nplcit (text | (article | book | online | othercit)*) 
.. to (text | article | book | online | othercit).
. Added further-classification to classification-locarno.
. Added sequence attribute to further-classification element.
. Changed he and wi to #CDATA in img and doc-page.
. Changed id attribute of crossref to IDREF type.
. Added flow-chart to img-content allowed values and changed DNA to dna.
. Changed date attribute to date-produced in element us-patent-application.
. Added date-publ attribute to element us-patent-grant.
. Changed bibliographic-data id attribute to ID type.
. Changed address_group text element from optional to required.
. Changed text element in depositary to #PCDATA.
. Renamed table-external-ref element to table-external-doc.
.. Changed external-type attribute in table-external-doc to optional.
. Changed parent-PCT-document to parent-pct-document.
. Added id ID #IMPLIED to addressbook,application-reference,
.. classification-ipc,classification-locarno ,new element 
.. classification-ipcr,priority-claims and publication-reference.

2004-04-15 H. Li
. Added num attribute to li element.
. Changed content model maths from  (img | math) to (img | (math,img?)).
. Added date attribute to element us-patent-application.
. Added math, chemistry, table, program-listing to img-content allowed values
.. and changed dna to DNA.
. Add figref to li, dd, claim-text elements and table cell entry.
. Changed subname? to subname* in serial, article and online elements.
. Renamed table-external element to table-external-ref.


2004-03-04 B. Cox
. Renamed element us-continued-prosecution-application to
.. us-publication-of-continued-prosecution-application
.. and kept the attribute and value.

2004-02-12
. Renamed element references-cited to us-references-cited.
. Renamed element cited-patents to us-cited-patents.
. Added element us-classification to us-cited-patents.


2003-11-23
. Changed us-math element attribute idref (IDREF) to idrefs (IDREFS).
. Added subname-type to element subname.
. Element othercit modified to support highlighting.

2003-10-31
. Modified element us-rights to contain legal-representative information.
. Changed element related-publication content model from (#PCDATA) to (#PCDATA | document-id)*.
. Added new optional element parent-PCT-document to the content model of parent-doc.
. Added attributes pgwide, orient, & tabstyle to the cals table attributes to support required composition features (see entity tbl.table.att).
. Element crossref modified to support highlighting.

2003-10-09 
. Removed inid-code attribute from us-appendix-data element.
. Added (img?) content model to us-math element.
. Added more uspto specific character entities to the wipo.ent.
. Added switching method within dtd to easily include/exclude mathml2, tables, etc..
2003-08-14 Bruce B. Cox
. Changed comments on elements and attributes from PCT to USPTO practice.
. Moved us-continued-prosecution-application text from comment to cpa-text attribute.
2003-08-07
. Changed following id attribute type from CDATA to ID: abstract, claims, description, drawings.
. Changed following idref attribute type from CDATA to IDREF: us-chemistry, us-math.
. Please note we leave crossref idref attribute type as CDATA.
2003-06-27
. Changed us-assignees to assignees.
2003-06-10
. Added assignees element.
. Added id attr for author element.
. depository changed to (text|address)*.
. Reverse sequence of address? and name in imprint element.
. Added lang to deceased-inventor.
. Changed table-external content model from empty to #PCDATA,
..changed external-type attribute.
. Added sup2 and sub2.
. Added pre to p.
. Added lang attr to nplcit.
. Added class-type attr to class element.
. Added figure-labels attr to figure element.
2002-04-16 Bruce B. Cox 
. Final draft.  
. External content element moved from p(aragraph) to us-patent-application. 
. Elements not used removed. 
. Change quantifier of us-ocr-text from + to ?
***** End Revision History *****
-->

<!--us-patent-application, root element of the document and contains within it all elements, content, and references to external entities, that constitute the document. Contains a bibliographic section (front page information), abstract, description, claim list, and possibly drawings. An abstract is required for all types of U.S. patents except for design patents. ST.32 name: PATDOC.
Attributes:
lang = ISO639 code for language of document (US: fixed "EN" for publishing)
dtd-version = dtd version number
file = filename of an instance of this DTD
status = status of the document; (US: not used for publishing)
id = ID for the root element, unique within the instance
country = WIPO ST.3 code (US: fixed "US")
file-reference-id = applicant's or agent's file reference (docket number), if any

            -->
<!ELEMENT us-patent-application (doc-page+ | (us-bibliographic-data-application , abstract* , drawings? , description , us-sequence-list-doc? , us-megatable-doc?, table-external-doc*, us-chemistry* , us-math* ,us-claim-statement?, claims))>

<!ATTLIST us-patent-application  lang              CDATA  #REQUIRED
                                   dtd-version       CDATA  #IMPLIED
                                   file              CDATA  #IMPLIED
                                   status            CDATA  #IMPLIED
                                   id                ID     #IMPLIED
                                   country           CDATA  #REQUIRED
                                   file-reference-id CDATA  #IMPLIED
                                   date-produced     CDATA  #IMPLIED
                                   date-publ         CDATA  #IMPLIED >
<!--to include mathml2.dtd  change MATHML2_DTD value to "INCLUDE", 
change MATH_PLACEHOLDER value to "IGNORE", the same for the TABLE_DTD 
and TABLE_PLACEHOLDER

INCLUDE
IGNORE
-->


<!ENTITY % UNICODE_PLANE1D_ESCAPE "INCLUDE">
<!ENTITY % MATHML2_DTD	"INCLUDE">
<!ENTITY % TABLE_DTD "INCLUDE">

<!ENTITY % MATH_PLACEHOLDER "IGNORE">
<!ENTITY % TABLE_PLACEHOLDER "IGNORE">

<![%UNICODE_PLANE1D_ESCAPE; [
 <!ENTITY % plane1D  "&#38;#38;#xE">
]]>


<![%MATHML2_DTD; [
<!-- DTD MathML2: maintained by W3C.  Download from:
     http://www.w3.org/TR/MathML2/DTD-MathML-20010221.zip

     If using nsgmls-based parser (SP, Near & Far Designer, etc.)
     Uncomment 'mathml-charent-module' switch below or replace the 
     Referenced MathML2 DTD with the version downloadable from:
     http://www.w3.org/Math/DTD/dtd-sp.zip

     This notice copied from: http://www.w3.org/Math/DTD/
     
     "DTD for nsgmls
      Some systems (including the popular nsgmls parser) may not be able 
      to process files using 'plane 1' characters which have Unicode 
      numbers higher than #xFFFF. The versions of the DTD provided here
      incorporate the modifications mentioned above, but the high 
      characters are replaced by the equivalent mchar construct 
      <mchar name="..." /> this allows the DTD to be read and for MathML
      files to be validated using such systems."
-->
<!--ENTITY % mathml-charent.module "IGNORE" -->
<!ENTITY % MATHML.prefixed "IGNORE">

<!--Work around with Microsoft MSXML3 parser in IE-->
<!ENTITY % MATHML.xmlns.attrib "">

<!--import MathML2 dtd -->
<!ENTITY % mathml2 PUBLIC "-//W3C//DTD MathML 2.0//EN" "mathml2.dtd">
%mathml2;
]]>

<![%TABLE_DTD; [
<!-- DTD OASIS Open XML Exchange Table Model.  
       Maintained by OASIS; download from:
       http://oasis-open.org/specs/soextblx.dtd
       Note that the FPI in soextblx.dtd refers to itself as 'calstblx'.  
       That convention has been followed here.
-->
<!--  create content for title element in table  -->
<!ENTITY % title "<!ELEMENT title (#PCDATA | b | i | o | u | sup | sub | smallcaps)* > ">
%title;

<!--override OASIS Exchange <entry> model -->
<!ENTITY % tbl.entry.mdl "(#PCDATA | b | i | o | u | sup | sub | smallcaps | br 
                 | patcit | nplcit | bio-deposit | crossref | figref | img 
                 | dl | ul | ol | chemistry | maths)* ">

<!--import OASIS Exchange model -->
<!ENTITY % calstblx PUBLIC "-//OASIS//DTD XML Exchange Table Model 19990315//EN" 
                           "soextblx.dtd">
<!ENTITY % yesorno  "NMTOKEN" >
<!ENTITY % tbl.table.att        " pgwide      %yesorno;       #IMPLIED
                                  orient      (port | land)   #IMPLIED
                                  tabstyle    NMTOKEN         #IMPLIED">
<!ENTITY % tbl.entry.att "id ID #IMPLIED">
%calstblx;
]]>
<![%MATH_PLACEHOLDER; [
<!--(PLACEHOLDER:w3c math dtd)-->
<!ELEMENT math EMPTY>
]]>
<![%TABLE_PLACEHOLDER; [
<!--(PLACEHOLDER:cals table dtd)-->
<!ELEMENT table EMPTY>
]]>

<!ENTITY % name_group "((name | (prefix? , (last-name | orgname) , first-name? , middle-name? , suffix? , iid? , role? , orgname? , department? , synonym*)) , registered-number?)">

<!ENTITY % address_group "((address-1? , address-2? , address-3? , mailcode? , pobox? , room? , address-floor? , building? , street? , city? , county? , state? , postcode? , country) | text)">

<!--(US: not used in publication.)-->
<!ELEMENT absno (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT abst-problem (p+)>

<!ATTLIST abst-problem  id ID  #IMPLIED >
<!--A concise summary of the disclosure.-->
<!ELEMENT abstract (doc-page+ | (abst-problem , abst-solution) | p+)>

<!ATTLIST abstract  id     ID     #IMPLIED
                      lang   CDATA  #IMPLIED
                      status CDATA  #IMPLIED >
<!--(US: not used in publishing.)-->
<!ELEMENT abst-solution (p+)>

<!ATTLIST abst-solution  id ID  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT accepted (date)>

<!--
      -->
<!ELEMENT action-date (date)>

<!--Earlier document to which this is an addition. INID 61, ST.32 equivalency = B610.-->
<!ELEMENT addition (relation)>

<!--Additional information. ST.32 equivalency = B513.-->
<!ELEMENT additional-info (#PCDATA)>

<!--
      -->
<!ELEMENT address (%address_group;)>

<!--Address, first line.-->
<!ELEMENT address-1 (#PCDATA)>

<!--Address, second line.-->
<!ELEMENT address-2 (#PCDATA)>

<!--Address, third line.-->
<!ELEMENT address-3 (#PCDATA)>

<!--ADDRESSBOOK GROUP: Holds name and contact information for individuals/organizations. The LANG attribute is REQUIRED for certain document types, e.g. the JPO PCT Request where names and addresses may be repeated in two different languages. If no structure possible use text.-->
<!ELEMENT addressbook ((%name_group; , address , phone* , fax* , email* , url* , ead* , dtext?) | text)>

<!ATTLIST addressbook  id   ID     #IMPLIED
                         lang CDATA  #IMPLIED >
<!--Address floor, e.g., 10th.-->
<!ELEMENT address-floor (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT advantageous-effects (heading* , p+)+>

<!ATTLIST advantageous-effects  id ID  #IMPLIED >
<!--ST.32 name: B741-->
<!ELEMENT agent (addressbook+)>

<!ATTLIST agent  sequence CDATA  #REQUIRED
                   rep-type        (agent | attorney | common-representative )  #REQUIRED >
<!--Information regarding Agents or common representatives.-->
<!ELEMENT agents (customer-number | agent+)>

<!--(US: not used in publication.)-->
<!ELEMENT alttitle (#PCDATA)>

<!--(US: applicant is always the inventor. Use "applicant" with applicant type attribute of "applicant-inventor.")-->
<!ELEMENT applicant (addressbook+ , nationality , residence , us-rights* , designated-states? , designated-states-as-inventor?)>

<!ATTLIST applicant  sequence    CDATA  #REQUIRED
                       app-type           (applicant | applicant-inventor )  #REQUIRED
                       designation        (all | all-except-us | us-only | as-indicated )  #REQUIRED >
<!--Applicants information.-->
<!ELEMENT applicants (applicant+)>

<!--Identification of a patent application.-->
<!ELEMENT application-reference (document-id)>

<!ATTLIST application-reference  id        ID     #IMPLIED
                                   appl-type CDATA  #REQUIRED >
<!--(US: not used in publication.)-->
<!ELEMENT article (text | (author* , atl? , subname* , (serial | book) , absno? , location? , class* , keyword* , cpyrt? , artid? , refno*))>

<!--(US: not used in publication.)-->
<!ELEMENT artid (#PCDATA)>

<!--(US: for assignee type, one of the following codes is placed in the role element. Assignee types for U.S. patents are taken from the following table: 01 Unassigned; 02 United States company or corporation; 03 Foreign company or corporation; 04 United States individual; 05 Foreign individual; 06 U.S. Federal government; 07 Foreign government; 08 U.S. county government; 09 U.S. state government.) ST.32 name: B730.-->
<!ELEMENT assignee (%name_group; | addressbook)>

<!--
      -->
<!ELEMENT assignees (assignee+)>

<!--(US: not used in publication.)-->
<!ELEMENT atl (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT author (%name_group; | addressbook)>

<!ATTLIST author  id ID  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT avail (#PCDATA)>

<!--Bold formatting.-->
<!ELEMENT b (#PCDATA | i | o | u | smallcaps | sub | sup )*>

<!--(US: not used in publication.)-->
<!ELEMENT background-art (heading* , p+)+>

<!ATTLIST background-art  id ID  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT best-mode (heading* , p+)+>

<!ATTLIST best-mode  id ID  #IMPLIED >
<!--Biological accession number: the identification assigned to the biological material by the depository.-->
<!ELEMENT bio-accno (#PCDATA)>

<!--Biological deposit citation (US EFS: biological-deposit).-->
<!ELEMENT bio-deposit (depositary , bio-accno , date? , term? , dtext?)>

<!ATTLIST bio-deposit  id   ID     #IMPLIED
                         num  CDATA  #REQUIRED
                         url  CDATA  #IMPLIED
                         dnum CDATA  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT book (text | (author* , (book-title+ | conference) , (subtitle? , subname* , edition? , imprint? , descrip? , series? , absno? , location* , isbn* , pubid? , vid? , bookno? , notes? , class* , keyword* , cpyrt? , refno*)))>

<!--(US: not used in publication.)-->
<!ELEMENT bookno (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT book-title (#PCDATA)>

<!--(US: not used in publishing.) Line break within a paragraph.-->
<!ELEMENT br EMPTY>

<!--Building information in address, e.g., Hoffman building.-->
<!ELEMENT building (#PCDATA)>

<!--(US: used for different data types depending on context.)-->
<!ELEMENT category (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT chapter (#PCDATA)>

<!--
      -->
<!ELEMENT chem EMPTY>

<!ATTLIST chem  id        ID     #IMPLIED
                  file      CDATA  #REQUIRED
                  chem-type CDATA  #IMPLIED >
<!--Chemical formulae, ring structures, Markush structures, etc. (US: see us-chemistry as well.)-->
<!ELEMENT chemistry (img | (chem , img?))>

<!ATTLIST chemistry  id  ID     #IMPLIED
                       num CDATA  #REQUIRED >
<!--Child Document. ST.32 equivalency = CDOC.-->
<!ELEMENT child-doc (document-id)>

<!--
      -->
<!ELEMENT citation ((patcit | nplcit) , corresponding-docs* , rel-passage* , category* , rel-claims* , classification-ipc? , classifications-ipcr? , classification-national?)>

<!ATTLIST citation  srep-phase CDATA  #IMPLIED >
<!--City or town name.-->
<!ELEMENT city (#PCDATA)>

<!--
      -->
<!ELEMENT claim (claim-text+)>

<!ATTLIST claim  id         ID     #IMPLIED
                   num        CDATA  #REQUIRED
                   claim-type CDATA  #IMPLIED >
<!--Reference to a claim.-->
<!ELEMENT claim-ref (#PCDATA)>

<!ATTLIST claim-ref  idref IDREFS  #REQUIRED >
<!--
      -->
<!ELEMENT claims (doc-page+ | claim+)>

<!ATTLIST claims  id         ID     #IMPLIED
                    lang       CDATA  #IMPLIED
                    claim-type CDATA  #IMPLIED
                    status     CDATA  #IMPLIED >
<!--The text of the claim; recursion of claim-text indicates claim step hierarchy and should be rendered accordingly.-->
<!ELEMENT claim-text (#PCDATA | claim-text | claim-ref | b | i | o | u | sup | sub | smallcaps | br | pre | crossref | figref | img | chemistry | maths | tables)*>

<!--(US: not used in publication.)-->
<!ELEMENT class (#PCDATA)>

<!ATTLIST class  class-type CDATA  #IMPLIED >
<!--
      -->
<!ELEMENT classification-data-source (#PCDATA)>

<!--International Patent Classification (IPC) data. INID 51. ST.32 name = B510-->
<!ELEMENT classification-ipc (edition , main-classification , further-classification* , (additional-info | linked-indexing-code-group | unlinked-indexing-code)* , text?)>

<!ATTLIST classification-ipc  id ID  #IMPLIED >
<!--
      -->
<!ELEMENT classification-ipcr (ipc-version-indicator , classification-level? , section , class , subclass , main-group? , subgroup? , symbol-position? , classification-value? , action-date? , generating-office? , classification-status? , classification-data-source?)>

<!ATTLIST classification-ipcr  id       ID     #IMPLIED
                                 sequence CDATA  #IMPLIED >
<!--
      -->
<!ELEMENT classification-level (#PCDATA)>

<!--For design patents only. Formerly inlcuded in IPC main classification. The Locarno Classification (LC) is formatted as fixed-length records as described here: Positions 1-2, "Class" (2 numeric, right justified, leading zeros); positions 3-4, "Subclass" (2 numeric, right justified, leading zeros). ST.32 name: B511-->
<!ELEMENT classification-locarno (edition , main-classification , further-classification* , text?)>

<!ATTLIST classification-locarno  id ID  #IMPLIED >
<!--Domestic or national classification. INID 52. ST.32 equivalency = B520-->
<!ELEMENT classification-national (country , edition? , main-classification , further-classification* , (additional-info | linked-indexing-code-group | unlinked-indexing-code)* , text?)>

<!ATTLIST classification-national  id ID  #IMPLIED >
<!--
      -->
<!ELEMENT classifications-ipcr (classification-ipcr+)>

<!ATTLIST classifications-ipcr  id ID  #IMPLIED >
<!--
      -->
<!ELEMENT classification-status (#PCDATA)>

<!--
      -->
<!ELEMENT classification-value (#PCDATA)>

<!--Cited document column, first.-->
<!ELEMENT colf (#PCDATA)>

<!--Cited document column, last.-->
<!ELEMENT coll (#PCDATA)>

<!--Cited document column numbers.-->
<!ELEMENT column (#PCDATA | colf | coll)*>

<!--(US: not used in publication.)-->
<!ELEMENT conference (text | (conftitle , date? , confno? , confplace? , confsponsor*))>

<!--(US: not used in publication.)-->
<!ELEMENT confno (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT confplace (#PCDATA | address)*>

<!--(US: not used in publication.)-->
<!ELEMENT confsponsor (#PCDATA | addressbook)*>

<!--(US: not used in publication.)-->
<!ELEMENT conftitle (#PCDATA)>

<!--Earlier application of which the present document is a continuation. ST.32 equivalency = B631.-->
<!ELEMENT continuation (relation)>

<!--Document of which this is a continuation-in-part. ST.32 equivalency = B632.-->
<!ELEMENT continuation-in-part (relation)>

<!--Document of which this is a continuing reissue. ST.32 equivalency = B633.-->
<!ELEMENT continuing-reissue (relation)>

<!--Correction information. ST.32 equivalency = B665.-->
<!ELEMENT correction (document-corrected , type-of-correction? , gazette-reference? , text?)>

<!--Address used for general correspondence.-->
<!ELEMENT correspondence-address (customer-number | addressbook+)>

<!--
      -->
<!ELEMENT corresponding-docs (document-id | nplcit)*>

<!--Country: use ST.3 country code, e.g. DE, FR, GB, NL, etc. Also includes EP, WO, etc.-->
<!ELEMENT country (#PCDATA)>

<!--County, parish, department, etc.-->
<!ELEMENT county (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT cpyrt (#PCDATA)>

<!--Cross reference to any other element in the instance with an identifier (id).-->
<!ELEMENT crossref (#PCDATA | b | i | o | u | sup | sub | smallcaps)*>

<!ATTLIST crossref  idref IDREF  #REQUIRED >
<!--Customer number for agents.-->
<!ELEMENT customer-number (#PCDATA)>

<!--Components of a date. Format: YYYYMMDD.-->
<!ELEMENT date (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT datecit (date)>

<!--(US: not used in publication.)-->
<!ELEMENT date-search-completed (date)>

<!--(US: not used in publication.)-->
<!ELEMENT date-search-report-mailed (date)>

<!--Definition description.-->
<!ELEMENT dd (#PCDATA | b | i | o | u | sup | sub | smallcaps | br | pre | patcit | nplcit | bio-deposit | crossref | figref | img | ul | ol | chemistry | maths)*>

<!--Deceased inventor name.-->
<!ELEMENT deceased-inventor (%name_group;)>

<!ATTLIST deceased-inventor  sequence CDATA  #IMPLIED
                               lang     CDATA  #IMPLIED >
<!--Name of department, division, section, etc.-->
<!ELEMENT department (#PCDATA)>

<!--Information regarding the facility storing the biological deposit.-->
<!ELEMENT depositary (#PCDATA | address)*>

<!--(US: not used in publication.)-->
<!ELEMENT descrip (#PCDATA)>

<!--Description. Specification of the invention.-->
<!ELEMENT description (doc-page+ | (invention-title? , (technical-field | background-art | disclosure | description-of-drawings | best-mode | mode-for-invention | industrial-applicability | sequence-list-text | (heading* , p+)+)+))>

<!ATTLIST description  id     ID     #IMPLIED
                         lang   CDATA  #IMPLIED
                         status CDATA  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT description-of-drawings (heading* , p+)+>

<!ATTLIST description-of-drawings  id ID  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT designated-states (country* , (region , country+)*)>

<!--(US: not used in publication.)-->
<!ELEMENT designated-states-as-inventor (country* , (region , country+)*)>

<!--(US: not used in publication.)-->
<!ELEMENT disclosure ((tech-problem | tech-solution | advantageous-effects)* | (heading* , p+)+)>

<!ATTLIST disclosure  id ID  #IMPLIED >
<!--Earlier application from which the present document has been divided out. INID 62. ST.32 equivalency = B620.-->
<!ELEMENT division (relation)>

<!--Definition list.-->
<!ELEMENT dl (dt , dd)+>

<!ATTLIST dl  tsize   CDATA  #IMPLIED
                compact          (compact )  #IMPLIED
                id      ID       #IMPLIED >
<!--The number of the referenced document.-->
<!ELEMENT doc-number (#PCDATA)>

<!--(US: Not used in publishing) DOCument or PAGE. This is primarily to be used when data for the whole or major sections of an application are in image format OR other formats such as pdf. Page range attributes are given when required: pp - page range; ppf - first page; ppl - last page. The 'img' may also be used for complete pages, eg., in drawings. Recommended id = docp01, docp02, etc. -->
<!ELEMENT doc-page EMPTY>

<!ATTLIST doc-page  id          ID     #IMPLIED
                      he          CDATA  #REQUIRED
                      wi          CDATA  #REQUIRED
                      type               (jpg | pdf | tif )  #REQUIRED
                      alt         CDATA  #IMPLIED
                      pp          CDATA  #IMPLIED
                      ppf         CDATA  #IMPLIED
                      ppl         CDATA  #IMPLIED
                      file        CDATA  #REQUIRED
                      color              (color | bw )  #IMPLIED
                      orientation        (portrait | landscape )  'portrait' >
<!--Document being corrected. ST.32 equivalent = B666.-->
<!ELEMENT document-corrected (document-id)>

<!--Document identification refers to patents and patent applications only. See WIPO ST.14.-->
<!ELEMENT document-id (country , doc-number , kind? , name? , date?)>

<!ATTLIST document-id  lang CDATA  #IMPLIED >
<!--The drawing pages.-->
<!ELEMENT drawings (doc-page+ | figure+)>

<!ATTLIST drawings  id     ID     #IMPLIED
                      lang   CDATA  #IMPLIED
                      status CDATA  #IMPLIED >
<!--Term to be defined.-->
<!ELEMENT dt (#PCDATA | b | i | o | u | sup | sub | smallcaps)*>

<!ATTLIST dt  id ID  #IMPLIED >
<!--Where structured data is not possible, enter text -->
<!ELEMENT dtext (#PCDATA)>

<!--Electronic address; use for other than email.-->
<!ELEMENT ead (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT edate (#PCDATA)>

<!--Edition statement. Indicates the edition of the classification schedule.-->
<!ELEMENT edition (#PCDATA)>

<!--Email address.-->
<!ELEMENT email (#PCDATA)>

<!--Fax number, format undefined.-->
<!ELEMENT fax (#PCDATA)>

<!--A reference to a figure; e.g., "...as shown in figure 1..."-->
<!ELEMENT figref (#PCDATA | b | i | o | u | sup | sub | smallcaps)*>

<!ATTLIST figref  idref IDREFS  #IMPLIED
                    num   CDATA   #IMPLIED >
<!--A figure. (US: often equates to one drawing page that might contain multiple figures.)-->
<!ELEMENT figure (img)>

<!ATTLIST figure  id            ID     #IMPLIED
                    num           CDATA  #REQUIRED
                    figure-labels CDATA  #IMPLIED >
<!--First or given name(s).-->
<!ELEMENT first-name (#PCDATA)>

<!--Further/secondary classification. ST.32 equivalency = B512/B522 (US: XR classification)-->
<!ELEMENT further-classification (#PCDATA)>

<!ATTLIST further-classification  id       ID     #IMPLIED
                                    sequence CDATA  #IMPLIED >
<!--
      -->
<!ELEMENT gazette-num (#PCDATA)>

<!--Patent bulletin / gazette information. ST.32 equivalency = B405-->
<!ELEMENT gazette-reference (gazette-num , date , text?)>

<!ATTLIST gazette-reference  id      ID     #IMPLIED
                               country CDATA  #IMPLIED
                               lang    CDATA  #IMPLIED >
<!--
      -->
<!ELEMENT generating-office (country)>

<!--Heading.  Level attribute determines indentation and style.-->
<!ELEMENT heading (#PCDATA | b | i | o | u | sup | sub | smallcaps)*>

<!ATTLIST heading  level     (1 | 2 | 3 )  #IMPLIED
                     id    ID  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT history (text | (received | accepted | revised | misc))>

<!--(US: not used in publication.)-->
<!ELEMENT hostno (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT hosttitle (#PCDATA)>

<!--Italic formatting.-->
<!ELEMENT i (#PCDATA | b | o | u | smallcaps | sub | sup )*>

<!--Individual id, format undefined.-->
<!ELEMENT iid (#PCDATA)>

<!--Image data is used for any kind of image: art work, figures, complex work units (math, tables, chemistry), etc.-->
<!ELEMENT img EMPTY>

<!ATTLIST img  id          ID     #IMPLIED
                 he          CDATA  #REQUIRED
                 wi          CDATA  #REQUIRED
                 file        CDATA  #REQUIRED
                 alt         CDATA  #IMPLIED
                 img-content        (drawing | 
                               photograph | 
                               character | 
                               dna | 
                               undefined | 
                               chem | 
                               table | 
                               math | 
                               program-listing | 
                               flowchart )  'drawing'
                 img-format         (jpg | tif | st33 | st35 )  #REQUIRED
                 orientation        (portrait | landscape )  'portrait'
                 inline             (yes | no )  'no' >
<!--(US: not used in publication.)-->
<!ELEMENT imprint (text | (address? , name , pubdate*))>

<!--(US: not used in publication.)-->
<!ELEMENT industrial-applicability (heading* , p+)+>

<!ATTLIST industrial-applicability  id ID  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT ino (#PCDATA)>

<!--Title of the Invention.-->
<!ELEMENT invention-title (#PCDATA | b | i | o | u | sup | sub)*>

<!ATTLIST invention-title  id   ID     #IMPLIED
                             lang CDATA  #IMPLIED >
<!--The individual or entity responsible for creating the matter that protection is sought for. (US: populated only when the inventor was unable to be the applicant.)-->
<!ELEMENT inventor (addressbook+ , designated-states?)>

<!ATTLIST inventor  sequence    CDATA  #REQUIRED
                      designation        (all | all-except-us | us-only | as-indicated )  #IMPLIED >
<!--Inventors information.-->
<!ELEMENT inventors (inventor | deceased-inventor)+>

<!--
      -->
<!ELEMENT ipc-version-indicator (date)>

<!--(US: not used in publication.)-->
<!ELEMENT isbn (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT issn (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT issue (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT keyword (#PCDATA)>

<!--Document kind code; e.g. A1.-->
<!ELEMENT kind (#PCDATA)>

<!--Last, family, surname.-->
<!ELEMENT last-name (#PCDATA)>

<!--The scientific name of the plant.-->
<!ELEMENT latin-name (#PCDATA)>

<!--List item.-->
<!ELEMENT li (#PCDATA | b | i | o | u | sup | sub | smallcaps | br | pre | patcit | nplcit | bio-deposit | crossref | figref | img | dl | ul | ol | chemistry | maths)*>

<!ATTLIST li  id  ID     #IMPLIED
                num CDATA  #IMPLIED >
<!--Referenced line within cited work.-->
<!ELEMENT line (#PCDATA | linef | linel)*>

<!--Cited document line, first.-->
<!ELEMENT linef (#PCDATA)>

<!--Cited document line, last.-->
<!ELEMENT linel (#PCDATA)>

<!--(US: not used for publishing.) Linked indexing code. ST.32 equivalency = B514/B524.-->
<!ELEMENT linked-indexing-code-group (main-linked-indexing-code , sub-linked-indexing-code+)>

<!--(US: not used in publication.)-->
<!ELEMENT location (text | (serpart? , sersect? , chapter? , pp? , column? , para? , line?))>

<!--Organizational mail code.-->
<!ELEMENT mailcode (#PCDATA)>

<!--Main classification. ST.32 equivalency = B511/B521 (US: OR classification)-->
<!ELEMENT main-classification (#PCDATA)>

<!--
      -->
<!ELEMENT main-group (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT main-linked-indexing-code (#PCDATA)>


<!--This is image data or coded according to mathml, version 2.-->
<!ELEMENT maths (img | (math , img?))>

<!ATTLIST maths  id  ID     #IMPLIED
                   num CDATA  #REQUIRED >
<!--Middle name(s) or initial(s).-->
<!ELEMENT middle-name (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT misc (#PCDATA | date)*>

<!--(US: not used in publication.)-->
<!ELEMENT mode-for-invention (heading* , p+)+>

<!ATTLIST mode-for-invention  id       ID     #IMPLIED
                                mode-num CDATA  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT msn (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT mst (#PCDATA)>

<!--Name: if no distinction or detail can be given. Also to be used for: personal (natural person) and corporate (legal entity) names.-->
<!ELEMENT name (#PCDATA)>

<!ATTLIST name  name-type   (legal | natural )  #IMPLIED >
<!--Country of nationality.-->
<!ELEMENT nationality (country)>

<!--(US: not used in publication.)-->
<!ELEMENT notes (#PCDATA)>

<!--Non-Patent Literature (NPL) CITation; (US: use text option ONLY. No structured data will be published.)-->
<!ELEMENT nplcit (text | article | book | online | othercit)>

<!ATTLIST nplcit  id       ID     #IMPLIED
                    num      CDATA  #IMPLIED
                    lang     CDATA  #IMPLIED
                    file     CDATA  #IMPLIED
                    npl-type CDATA  #IMPLIED
                    medium   CDATA  #IMPLIED
                    url      CDATA  #IMPLIED >


<!--Overscore: style - single is default.-->
<!ELEMENT o (#PCDATA | b | i | smallcaps | sub | sup )*>

<!ATTLIST o ostyle (single | double | dots | dash | leftarrow | rightarrow | leftrightarrow) 'single' >

<!ELEMENT object-contents (#PCDATA)>

<!--
      -->
<!ELEMENT object-description (#PCDATA)>

<!--
      -->
<!ELEMENT object-id (#PCDATA)>

<!--
      -->
<!ELEMENT object-reference (object-description , object-id , object-contents)>

<!ATTLIST object-reference  id ID  #REQUIRED >
<!--Where the earlier application is an ARIPO application,indicate at least one country party to the PARIS convention for the protection of industrial property or one member of the WTO for which that earlier application was filed.-->
<!ELEMENT office-of-filing ((region , country?) | country)>

<!--Ordered Lists: attribute 'ol-style' - recommded use: 1 arablic numbers 1, 2, 3, ... a lower alpha a, b, c, ... A upper alpha A, B, C, ... i lower roman i, ii, iii, ... I upper roman I, II, III, ...-->
<!ELEMENT ol (li+)>

<!ATTLIST ol  id       ID     #IMPLIED
                compact         (compact )  #IMPLIED
                ol-style CDATA  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT online (text | (author* , online-title* , hosttitle? , subname* , edition? , (serial | book)? , imprint? , pubdate? , history? , series? , hostno? , location? , notes? , avail , class* , keyword* , cpyrt? , issn? , isbn? , datecit? , srchterm* , srchdate? , refno*))>

<!--(US: not used in publication.)-->
<!ELEMENT online-title (#PCDATA)>

<!--Organisation name or company name.-->
<!ELEMENT orgname (#PCDATA)>

<!--Other citations. Format not defined.-->
<!ELEMENT othercit (#PCDATA | b | i | o | u | sup | sub)*>

<!--Paragraph. Recommended id = p01, p02, etc. num = 001, 002, etc. (US: ID is unique in the instance. Num indicates sequence of paragraphs for display.)-->
<!ELEMENT p (#PCDATA | b | i | o | u | sup | sub | smallcaps | br | pre | dl | ul | ol | crossref | figref | patcit | nplcit | bio-deposit | img | chemistry | maths | tables | table-external-doc)*>

<!ATTLIST p  id  ID     #IMPLIED
               num CDATA  #REQUIRED >
<!--Referenced paragraph within cited work.-->
<!ELEMENT para (#PCDATA | paraf | paral)*>

<!--Cited paragraph, first.-->
<!ELEMENT paraf (#PCDATA)>

<!--Cited paragraph, last.-->
<!ELEMENT paral (#PCDATA)>

<!--Describes parent document. ST.32 equivalency = PARENT.-->
<!ELEMENT parent-doc (document-id , parent-status? , parent-grant-document? , parent-pct-document?)>

<!--If the parent document was granted.-->
<!ELEMENT parent-grant-document (document-id)>

<!--
      -->
<!ELEMENT parent-pct-document (document-id)>

<!--Status of the parent document.-->
<!ELEMENT parent-status (#PCDATA)>

<!--Parties to the application.-->
<!ELEMENT parties (applicants , inventors? , correspondence-address? , agents?)>

<!--(US: not used in publication.)-->
<!ELEMENT passage (#PCDATA)>

<!--Patent Citation within abstract, description or claims.-->
<!ELEMENT patcit (text | (document-id , rel-passage*))>

<!ATTLIST patcit  id        ID     #IMPLIED
                    num       CDATA  #IMPLIED
                    dnum      CDATA  #IMPLIED
                    dnum-type CDATA  #IMPLIED
                    file      CDATA  #IMPLIED
                    url       CDATA  #IMPLIED >
<!--PCT or regional filing information. INID 86; ST.32 equivalency = B860.-->
<!ELEMENT pct-or-regional-filing-data (document-id , us-371c124-date?)>

<!--PCT or regional publication information. INID 87; ST.32 equivalency = B870.-->
<!ELEMENT pct-or-regional-publishing-data (document-id , gazette-reference?)>

<!--Telephone number, format undefined.-->
<!ELEMENT phone (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT place-of-search (country)>

<!--Post Office Box number.-->
<!ELEMENT pobox (#PCDATA)>

<!--Postal code or zip code.-->
<!ELEMENT postcode (#PCDATA)>

<!--Cited document page numbers.-->
<!ELEMENT pp (#PCDATA | ppf | ppl)*>

<!--Cited document page , first.-->
<!ELEMENT ppf (#PCDATA)>

<!--Cited document page, last.-->
<!ELEMENT ppl (#PCDATA)>

<!--Indicates that the white space of the text should be preserved at rendering. In all cases, a fixed-width font should be used.-->
<!ELEMENT pre (#PCDATA)>

<!ATTLIST pre  id           ID     #IMPLIED
                 xml:space    (preserve)  #FIXED 'preserve'
                 listing-type        (sequence | program-listing | other )  #REQUIRED >
<!--Title: e.g., Mr., Mrs., Dr. etc.-->
<!ELEMENT prefix (#PCDATA)>

<!--Priority claim.-->
<!ELEMENT priority-claim (country , doc-number? , date , office-of-filing? , (priority-doc-requested | priority-doc-attached)?)>

<!ATTLIST priority-claim  id       ID     #IMPLIED
                            sequence CDATA  #REQUIRED
                            kind            (national | regional | international )  #REQUIRED >
<!--Applications in which priority is claimed.-->
<!ELEMENT priority-claims (priority-claim+)>

<!--(US: not used in publication.)-->
<!ELEMENT priority-doc-attached EMPTY>

<!--(US: not used in publication.)-->
<!ELEMENT priority-doc-requested EMPTY>

<!--(US: not used in publication.)-->
<!ELEMENT pubdate (#PCDATA | sdate | edate | time)*>

<!--(US: not used in publication.)-->
<!ELEMENT pubid (#PCDATA)>

<!--Identification of a published patent document.-->
<!ELEMENT publication-reference (document-id)>

<!ATTLIST publication-reference  id ID  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT received (date)>

<!--Document of which this is a reexamination. ST.32 equivalency = B645.-->
<!ELEMENT reexamination (relation)>

<!--
      -->
<!ELEMENT references-cited (text | (citation+ , date-search-completed? , date-search-report-mailed? , place-of-search? , search-report-publication? , searcher?))>

<!--(US: not used in publication.)-->
<!ELEMENT refno (#PCDATA)>

<!ATTLIST refno  id ID  #IMPLIED >
<!--The region for which protection or exclusion (depending upon context) is desired.-->
<!ELEMENT region (country)>

<!--Registered number, format undefined.-->
<!ELEMENT registered-number (#PCDATA)>

<!--Document being reissued. INID 64. ST.32 equivalency = B640.-->
<!ELEMENT reissue (relation)>

<!--Previously published document concerning same application. INID 65. ST.32 equivalency = B650.-->
<!ELEMENT related-publication (#PCDATA | document-id)*>

<!--
      -->
<!ELEMENT relation (parent-doc , child-doc)>

<!--(US: used for different data types depending on context.)-->
<!ELEMENT rel-claims (#PCDATA)>

<!--Relevant passage within cited document.-->
<!ELEMENT rel-passage (text | (passage+ , category* , rel-claims*)+)>

<!--Country of residence.-->
<!ELEMENT residence (country)>

<!--(US: not used in publication.)-->
<!ELEMENT revised (date)>

<!--Role, e.g. President, Chairman, etc.-->
<!ELEMENT role (#PCDATA)>

<!--Address room; e.g., Room 55B.-->
<!ELEMENT room (#PCDATA)>

<!--When present, signifies that the application was filed under Rule 47, indicating the applicant(s) refused to execute the application or could not be found.-->
<!ELEMENT rule-47-flag EMPTY>

<!--(US: not used in publication.)-->
<!ELEMENT sdate (#PCDATA)>

<!--
      -->
<!ELEMENT searcher (%name_group; | addressbook)>

<!--(US: not used in publication.)-->
<!ELEMENT search-report-publication (document-id+)>

<!--
      -->
<!ELEMENT section (#PCDATA)>

<!--Sequence listing that conforms to WIPO Standrad ST.25. (US: markup in XML as in ARB v2.5. See us-sequence-listing.dtd.)-->
<!ELEMENT sequence-list EMPTY>

<!ATTLIST sequence-list  id            ID     #IMPLIED
                           file          CDATA  #REQUIRED
                           lang          CDATA  #IMPLIED
                           carriers             (internal-electronic | 
                                           external-electronic | 
                                           paper )  #IMPLIED
                           seq-file-type CDATA  #FIXED 'ST.25'
                           status        CDATA  #IMPLIED >


<!--Sequence listing free text WIPO ST.25: "36. Where the sequence listing part of the description contains free text, any such free text shall be repeated in the main part of the description in the language thereof. It is recommended that the free text in the language of the main part of the description be put in a specific section of the description called "Sequence Listing Free Text".-->
<!ELEMENT sequence-list-text (heading* , p+)+>

<!ATTLIST sequence-list-text  id ID  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT serial (sertitle , alttitle? , subname* , issue? , imprint? , pubdate? , descrip? , notes? , issn? , isbn? , pubid? , vid? , ino? , cpyrt?)>

<!--(US: not used in publication.)-->
<!ELEMENT series (text | (mst , msn? , issn?))>

<!--(US: not used in publication.)-->
<!ELEMENT serpart (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT sersect (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT sertitle (#PCDATA)>

<!--Small capitals.-->
<!ELEMENT smallcaps (#PCDATA | b | i | o | u )*>

<!--(US: not used in publication.)-->
<!ELEMENT srchdate (date)>

<!--(US: not used in publication.)-->
<!ELEMENT srchterm (#PCDATA)>

<!--Region of country eg. state, province, etc.-->
<!ELEMENT state (#PCDATA)>

<!--Street may contain house number or house name.-->
<!ELEMENT street (#PCDATA)>

<!--Subscripted text-->
<!ELEMENT sub (#PCDATA | b | i | o | u | sup2 | sub2)*>

<!--Second level subscripted text.-->
<!ELEMENT sub2 (#PCDATA | b | i | o | u)*>

<!--
      -->
<!ELEMENT subclass (#PCDATA)>

<!--
      -->
<!ELEMENT subgroup (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT sub-linked-indexing-code (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT subname (%name_group; | addressbook)>

<!ATTLIST subname  subname-type   (editor | translator | other-subname-type )  'editor' >
<!--Document for which this is a substitute. INID 66. ST.32 equivalency = B660.-->
<!ELEMENT substitution (relation)>

<!--(US: not used in publication.)-->
<!ELEMENT subtitle (#PCDATA)>

<!--Name suffix (e.g., II, Jr., Dip., Ing., BA, etc.)-->
<!ELEMENT suffix (#PCDATA)>

<!--Superscripted text-->
<!ELEMENT sup (#PCDATA | b | i | o | u | sup2 | sub2)*>

<!--Superscripted text.-->
<!ELEMENT sup2 (#PCDATA | b | i | o | u)*>

<!--
      -->
<!ELEMENT symbol-position (#PCDATA)>

<!--Synonym.-->
<!ELEMENT synonym (#PCDATA)>


<!ELEMENT table-external-doc (#PCDATA)>

<!ATTLIST table-external-doc  id            ID     #IMPLIED
                                file          CDATA  #REQUIRED
                                lang          CDATA  #IMPLIED
                                carriers             (internal-electronic | 
                                                external-electronic | 
                                                paper )  #IMPLIED
                                external-type        (math | 
                                                chemistry | 
                                                program-listing | 
                                                other )  #IMPLIED 
                            status        CDATA  #IMPLIED >
<!--This is image data or coded according to OASIS Exchange model with modified cell 'entry' content.-->
<!ELEMENT tables (img | table)>

<!ATTLIST tables  id  ID     #IMPLIED
                    num CDATA  #REQUIRED >
<!--(US: not used in publication.)-->
<!ELEMENT technical-field (heading* , p+)+>

<!ATTLIST technical-field  id ID  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT tech-problem (heading* , p+)+>

<!ATTLIST tech-problem  id ID  #IMPLIED >
<!--(US: not used in publication.)-->
<!ELEMENT tech-solution (heading* , p+)+>

<!ATTLIST tech-solution  id ID  #IMPLIED >
<!--Identifies the period of time during which the depository must be able to furnish samples of the biological material.-->
<!ELEMENT term (#PCDATA)>

<!--If no structure is possible, enter content verbatim.-->
<!ELEMENT text (#PCDATA)>

<!--Time; format HHMM.-->
<!ELEMENT time (#PCDATA)>

<!--Type of correction. ST.32 equivalency = B667.-->
<!ELEMENT type-of-correction (#PCDATA)>

<!--Underscore: style - single is default.-->
<!ELEMENT u (#PCDATA | b | i | o | smallcaps | sub | sup )*>

<!ATTLIST u  style   (single | double | dash | dots )  'single' >
<!--Unordered Lists list-style may be empty for lists with no bullet or other symbol default list-style is 'bullets'.-->
<!ELEMENT ul (li+)>

<!ATTLIST ul  id         ID  #IMPLIED
                list-style     (bullet | dash | none )  'bullet'
                compact        (compact )  #IMPLIED >
<!--(US: not used for publishing.)-->
<!ELEMENT unlinked-indexing-code (#PCDATA)>

<!--Universal Resource Locator; e.g. www.wipo.int.-->
<!ELEMENT url (#PCDATA)>

<!--PCT Section 371(c)(1)(2)(4)date. ST.32 equivalency = B864US-->
<!ELEMENT us-371c124-date (date)>

<!--Used for physical objects included with the application, for example, microfiche or optical discs).-->
<!ELEMENT us-appendix-data (object-reference+)>

<!--Patent applications in the U.S. are numbered consecutively from 1 through 999,999, after which the numbering restarts from 1. To distinguish between the different applications that would otherwise have the same number, a series code is prefixed to the serial number. Series codes can also be used to distinguish various application types. A series code consists of a two-digit number, left padded with zero where necessary, representing the following time periods and document types: 02 = through 1947-12-31; 03 = 1948-01-01 through 1959-12-31; 04 = 1960-01-01 through 1969-12-31; 05 = 1970-01-01 through 1978-12-31; 06 = 1979-01-01 through 1986-12-31; 07 = 1987-01-01 through 1992-12-31; 08 = 1993-01-01 through 1997-12-29; 09 = 1997-12-30 and after; 02 through 28 = Utility application; 29 = Design application; 60 = Provisional application; 90 = Reexamination request. ST.32 name: B211US.-->
<!ELEMENT us-application-series-code (#PCDATA)>

<!--Biblilographic data for a published patent application. Contains document identification, domestic filing data, priority data, related patent or application information, parties concerned with the document, and data related to international conventions.-->
<!ELEMENT us-bibliographic-data-application (publication-reference , application-reference , us-application-series-code , us-publication-filing-type? , us-publication-of-continued-prosecution-application? , rule-47-flag? , priority-claims? , classifications-ipcr? , classification-locarno? , classification-national , invention-title , us-botanic? , references-cited? , us-related-documents? , parties ,us-deceased-inventor*, assignees? , bio-deposit? , pct-or-regional-filing-data? , pct-or-regional-publishing-data? , us-appendix-data? , dtext*)>

<!ATTLIST us-bibliographic-data-application  id      ID     #IMPLIED
                                               lang    CDATA  #IMPLIED
                                               status  CDATA  #IMPLIED
                                               country CDATA  #IMPLIED >
<!--Plant patent botanical information. ST.32 name: BOTANIC-->
<!ELEMENT us-botanic (latin-name , variety)>

<!--External files containing alternative formats of chemical structures.-->
<!ELEMENT us-chemistry EMPTY>

<!ATTLIST us-chemistry  idref    IDREF  #REQUIRED
                          cdx-file CDATA  #REQUIRED
                          mol-file CDATA  #REQUIRED >

<!ELEMENT us-claim-statement (#PCDATA | b | i | o | u | sup | sub | smallcaps)*> 

<!ELEMENT us-deceased-inventor (addressbook)>
<!ATTLIST us-deceased-inventor sequence CDATA #REQUIRED >

<!--Document (parent) of which the document in hand (child) is a divisional reissue. If there is more than one divisional reissue, siblings are indicated by multiple occurences of child. ST. 32 name: B641US.-->
<!ELEMENT us-divisional-reissue (us-relation)>

<!--External files containing alternative formats of mathematical equations.-->
<!ELEMENT us-math (img?)>

<!ATTLIST us-math  idrefs  IDREFS  #REQUIRED
                     nb-file CDATA   #REQUIRED > 
<!ELEMENT us-megatable-doc  (p) >
<!--An application published as amended at the request of the applicant.-->
<!ELEMENT us-original-publication-amended EMPTY>

<!--An application published with some part of the content removed because it is not subject to publication requirements.-->
<!ELEMENT us-original-publication-redacted EMPTY>

<!--An application published at the express wish of the applicant.-->
<!ELEMENT us-original-publication-voluntary EMPTY>

<!--Provisional application that is the basis of the document in hand. ST.32 name: B680US.-->
<!ELEMENT us-provisional-application (document-id, us-provisional-application-status?)>

<!--Status of the provisional application that is the basis of the document in hand.-->
<!ELEMENT us-provisional-application-status (#PCDATA)>

<!ELEMENT us-publication-filing-type (us-original-publication-voluntary | us-original-publication-redacted | us-original-publication-amended | us-republication-corrected | us-republication-redacted | us-republication-amended)>

<!--Continued prosecution application flag.  If this element is present, the value of the cpa-text attribute shall be rendered on the front page of the patent application publication.-->
<!ELEMENT us-publication-of-continued-prosecution-application EMPTY>

<!ATTLIST us-publication-of-continued-prosecution-application  cpa-text CDATA  #FIXED 'This is a publication of a continued prosecution application (CPA) filed under 37 CFR 1.53(d).' >
<!--Present when a reissue application was merged with a reexamination proceeding. The issuing document is a reissue patent which shows the following Reexamination results statement on the reissue patent front page, immediately following the abstract. NNNNN represents the Reexamination Request Number, and YYYYMMDD the filing date. "The questions raised in reexamination request No.90/NNNNN, filed YYYYMMDD, have been considered and the results thereof are reflected in this reissue patent which constitutes the reexamination certificate required by 35 USC 307 as provided in 37 CFR 1.570(e)." Document (parent) under rexeamination that merged with the reissue proceedings from which the document in hand (child) resulted. ST.32 name: B645US.-->
<!ELEMENT us-reexamination-reissue-merger (relation)>

<!--Various relationships between the patent in hand and other patent grants or applications. Contains either an additional application, a divisional application, continuations, reissues, divisional reissues, reexamination, merged reissues reexamination, substitute, or provisional application. ST.32 name: B600.-->
<!ELEMENT us-related-documents (addition | division | continuation | continuation-in-part | continuing-reissue | reissue | us-divisional-reissue | reexamination | us-reexamination-reissue-merger | substitution | us-provisional-application | utility-model-basis | correction | related-publication)+>

<!--If there is more than one divisional reissue, siblings are indicated by multiple occurences of child.-->
<!ELEMENT us-relation (parent-doc , child-doc+)>

<!--An application published a second time as amended.-->
<!ELEMENT us-republication-amended EMPTY>

<!--An application published with corrections due to USPTO error.-->
<!ELEMENT us-republication-corrected EMPTY>

<!--An application published a second time with content removed.-->
<!ELEMENT us-republication-redacted EMPTY>

<!--This person is successor to the rights of an inventor who is deceased, insane, or legally incapacitated.-->
<!ELEMENT us-rights (#PCDATA)>

<!ATTLIST us-rights  to-dead-inventor CDATA  #REQUIRED
                       kind                 (heir | 
                                       heiress | 
                                       executor | 
                                       executrix | 
                                       estate | 
                                       legal-representative | 
                                       administrator | 
                                       administratrix | 
                                       legal-representatives | 
                                       heirs | 
                                       executors | 
                                       legal-heirs )  #REQUIRED >
<!ELEMENT us-sequence-list-doc ( p?, sequence-list)>
<!ATTLIST us-sequence-list-doc  id     ID     #IMPLIED
                               lang   CDATA  #IMPLIED
                               status CDATA  #IMPLIED >
<!--Document on which utility model is based. INID 67. ST.32 equivalency = B670.-->
<!ELEMENT utility-model-basis (relation)>

<!--The plant variety name.-->
<!ELEMENT variety (#PCDATA)>

<!--(US: not used in publication.)-->
<!ELEMENT vid (#PCDATA)>

